$white: rgba(255,255,255,1);
$blue: rgba(48,162,242,1);
$yellow: linear-gradient(135deg,rgba(255,226,76,1) 0%,rgba(255,219,38,1) 100%);
$btn-active-background-color: linear-gradient(135deg,rgba(255,226,76,1) 0%,rgba(255,219,38,1) 100%);
$btn-inactive-background-color: rgba(246,247,249,1);
$btn-active-text-color: rgba(36,38,41,1);
$btn-inactive-text-color: rgba(189,191,194,1);