$pink: rgba(245,193,226,1);
$pink-deep: rgba(246,60,180,1);
$dark: rgba(56,60,66,1);
$black: rgba(36,38,41,1);
$gray: rgba(189,191,194,1);
$gray-light: rgba(243,242,255,1);
$blue: rgba(43,16,215,1);
$white: rgba(255,255,255,1);
$yellow: rgba(247,232,2,1);
$orange: rgba(255,112,65,1);

$font-size-small: px2rem(28);
$font-size-normol: px2rem(32);
$font-size-large: px2rem(36);